.navigate li{
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}
.navigate .ui-icon {
    float: left;
    margin: 0 4px;
}
.editgrid{
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;    
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 1.5em; 
    padding-top:2.5em; 
    margin: 10px; 
}
.editgrid legend{
    position:absolute;
    top: 0;
    left: 10px;
    width:95%; 
}