.navigate li{
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}
.navigate .ui-icon {
    float: left;
    margin: 0 4px;
}
.editgrid{
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;    
    -moz-border-radius: 1px;
    border-radius: 1px;
    padding: 0.25em; 
    padding-top:0.25em; 
    margin: 2.5px; 
}
.editgrid legend{
    position:absolute;
    top: 0;
    left: 10px;
    width:95%; 
}
.horizontalTbl{
    width: 90%;

    
}
.horizontalTbl th{
    background-color: #2BA2E7;
    border:solid;
}
.horizontalTbl tr{
    border:solid;
    
}
.horizontalTbl tr input[type="text"]{
    width: 20em;
    
}

footer {padding: 2em;}

ul.hidey, ul.hidey ul
{
	list-style:none;
	margin:0; padding:0;
	position: relative;
}
ul.hidey ul 						
{ 
        display:none;
        position: absolute;
        text-align: center;
}
ul.hidey li:hover > ul 			
{ 
	display:block;
}
.giveCampDrop {
    background-color: #CCCCCC;
    border: #666666 1px solid;
    width: 100%;
}
.list {
    font-size: 50%;
}
.list input, .list select {
    padding: 0;
    font-size: 1.25em;
    height: 2em;
}
.list th {
    width: 50em;
}